<div class="advertisement-container">
  <div class="container marketing">
    <div class="row">
      <div class="span12 text-center">
        <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- missinghippo.com -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-7424434269432645"
             data-ad-slot="1345193124"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
</div>