<div id="contact">
  <div class="container">

    <div class="row">
      <div class="span4">
        <!--h2>Contact Us</h2-->

        <!--div id="contact_confirmation" style="display:none;">Your message has been sent.</div-->

        <!--form id="contact_form">
          <p><input type="text" name="name" placeholder="Full Name" class="span6"></p>
          <p><input type="email" name="email" placeholder="Email" class="span6"></p>
          <p><textarea name="message" class="span6" placeholder="Message"></textarea></p>
          <p class="pull-right"><input type="submit" value="SEND MESSAGE" class="btn"></p>
        </form-->
        <div style="background: #FFFFFF;" class="fb-like-box" data-href="http://www.facebook.com/MissingHippo" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
      </div>

      <div class="span4 about-us">
        <h2>Network</h2>
        PetClue <a href="https://petclue.com/">pet directory</a> and resource guide for pet owners and pet businesses to list and find pet products and services such as <a href="http://petclue.com/listing/guide/veterinarians-pet-vets/">pet vets</a>, <a href="http://petclue.com/listing/guide/veterinarians-pet-vets/">dog groomers</a>, pet sitters, dog and cat boarding, <a href="http://petclue.com/listing/guide/pet-transportation/">pet transportation</a>, <a href="http://petclue.com/listing/guide/pet-insurance/">pet insurance</a>, pet friendly accommodation, and more.
      </div>

      <div class="span4 about-us">
        <h2>About Us</h2>
        <p>Missing Hippo is an organization developed to find lost pets all across the world.</p>
        <p>Every year millions of families become disconnected from their animal companions. By joining the Missing Hippo Network, we can all make an impact on rescuing lost dogs.</p>
        <p>We provide content, tools, and a network of heroes anywhere in an effort to serve animal lovers everywhere.</p>
      </div>
    </div>

  </div>
</div>