<header>
  <div class="container">
    <div class="logo">
      <h1>MISSING HIPPO <span>Find Your Lost Pet</span></h1>
    </div>
    <div class="nav js">
      <nav>
        <ul id="nav">
          <li><a href="#map" class="menu_3">Neighborhood Map</a></li>
          <li><a href="#marketing" class="menu_1">Find Lost Dog</a></li>
          <!--li><a href="#form" class="menu_2">Create Flier</a></li-->
          <li><a href="#join" class="menu_4">Join Network</a></li>
          <li><a href="#social" class="menu_5">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
