<header>
  <div class="container">
    <div class="logo">
      <h1>Find Lost Dog</h1>
    </div>
    <div class="nav js">
      <nav>
        <ul id="nav">
          <li class="current"><a href="#marketing" class="menu_1">Find Lost Dog</a></li>
          <li><a href="#map" class="menu_3">Network Map</a></li>
          <li><a href="#form" class="menu_2">Create Flier</a></li>
          <li><a href="#join" class="menu_4">Join Network</a></li>
          <li><a href="#social" class="menu_5">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active" style="background:url(/image/slides/boston-grass-edit.jpg);background-size:cover;">
      <!--img src="/image/slides/boston-grass.jpg" alt=""-->
      <div class="container">
        <div class="carousel-caption">
          <p class="lead">
            <span style="background:#000000;padding:5px;">&#187; Create a missing pet flier online</span><br />
            <span style="background:#000000;padding:5px;">&#187; Flier is sent to members around your neighborhood</span><br />
            <span style="background:#000000;padding:5px;">&#187; Receive a txt/email as soon as somebody finds your pet</span></p><br />
          <a class="btn btn-large btn-primary scrollable" href="#map">Get Started today</a>
        </div>
      </div>
    </div>
    <!--<div class="item" style="background:url(/image/backgrounds/boston.jpg);background-size:cover;">-->
    <!--<div class="container">-->
    <!--<div class="carousel-caption-right">-->
    <!--<h1>Another example headline.</h1>-->
    <!--<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
    <!--<a class="btn btn-large btn-primary" href="#map">Browse Map</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item" style="background:url(/image/backgrounds/fence.jpg);background-size:cover;">-->
    <!--<div class="container">-->
    <!--<div class="carousel-caption">-->
    <!--<h1>No More Lost Dogs</h1>-->
    <!--<p class="lead">Join Missing Hippo Network and help us find missing pets in your neighborhood. All around the world people like you are joining a community that keeps lost pet fliers off the fences.</p>-->
    <!--<a class="btn btn-large btn-primary" href="#sign-up">Join Network</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->