<div id="marketing" class="partial">
  <div class="container marketing">

    <div class="row">
      <div class="span12">
        <h2>Find Your Lost Dog</h2>
      </div>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="span4 resource text-center">
        <img class="img-circle" src="/image/headers/daisy.jpg" alt="Lost Dog Resources">
        <h2 class="text-center">Call Everywhere</h2>
        <p>Use our integrated neighborhood map to find all of the nearest places you should call first; Notify them of your missing pet and learn if anybody has seen him/her. Keep calling.</p>
        <p><a class="btn scrollable" href="#map">Find Contacts &raquo;</a></p>
      </div><!-- /.span4 -->
      <div class="span4 resource text-center">
        <img class="img-circle" src="/image/headers/map.jpg" alt="Neighborhood Map">
        <h2>Create a Flier; Print Hundreds</h2>
        <p>Post copies at park entrances, lamp posts, and anywhere else people frequent; Place fliers in mailboxes, car windshield wipers, and hand them out to anybody you pass by.</p>
        <p><a class="btn" href="#myModal" id="create-flier-map-button" data-toggle="modal" role="button">Create Flier &raquo;</a></p>
      </div><!-- /.span4 -->
      <div class="span4 resource text-center">
        <img class="img-circle" src="/image/headers/dog-girl.jpg" alt="Girl Found Her Dog">
        <h2>Pay it Forward</h2>
        <p>Sign up to be notified via direct contact if a pet goes missing in your neighborhood. We can email or text message you all of the available information as it comes into our network.</p>
        <p><a class="btn scrollable" href="#join">Receive Updates &raquo;</a></p>
      </div><!-- /.span4 -->
    </div><!-- /.row -->

    <!--hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-right" src="/image/call-group.png">
      <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-left" src="/image/call-group.png">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-right" src="/image/call-group.png">
      <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider"-->

    <div class="row hidden">
      <div class="span12 news_feed_container">
        <h2>News Articles</h2>
        <div id="articles">
          <%# @articles.each do |title,description| %>
            <div class="article">
              <div>
                <h3><%#= title %></h3>
                <%#= description %>
              </div>
            </div>
          <%# end %>
        </div>
      </div>
    </div>

  </div>
</div>
