<div id="social">
  <div class="container">
    <div class="row">
      <div class="span12 text-center">
        <a href="http://twitter.com/missinghippo" target="_blank" title="Twitter"><img src="/image/icons/twitter-big.png" alt="Twitter"></a>
        <a href="http://facebook.com/missinghippo" target="_blank" title="Facebook"><img src="/image/icons/facebook-big.png" alt="Facebook"></a>
        <a href="https://plus.google.com/u/0/b/103813959466084466895/103813959466084466895" target="_blank" title="Google Plus"><img src="/image/icons/google-big.png" alt="Google Plus"></a>
      </div>
    </div>
  </div>
</div>
