<div id="sponsor">
  <div class="container">
    <div class="row">
      <div class="span6">
        <p>&copy; 2013 MissingHippo.com &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
      <div class="span6 text-right">
        Brought to you by <a href="http://codekindness.com" target="_blank" title="Codekindness"><img src="/image/codekindness_logo.jpg" alt="Code Kindness"></a>
      </div>
    </div>
  </div>
</div>