<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MIssing Hippo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="/vendors/codiqa/css/codiqa.ext.min.css" rel="stylesheet">
  <link href="/vendors/codiqa/css/jquery.mobile.theme-1.3.1.min.css" rel="stylesheet">
  <link href="/vendors/codiqa/css/jquery-mobile.css" rel="stylesheet">
  <link href="/vendors/codiqa/css/jquery.mobile.structure-1.3.1.min.css" rel="stylesheet">

  <script src="/vendors/codiqa/js/jquery-1.9.1.min.js"></script>
  <script src="/vendors/codiqa/js/jquery.mobile-1.3.1.min.js"></script>
  <script src="/vendors/codiqa/js/codiqa.ext.min.js"></script>
  <script src="/vendors/codiqa/js/missing-hippo.js"></script>
</head>
<body>
<div data-role="page" data-control-title="HOME" id="page4">
  <div data-role="panel" id="panel1" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page5" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page6" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page7" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-theme="a" data-role="header">
    <h3>
      HOME
    </h3>
  </div>
  <div data-role="content">
    <a data-role="button" href="#panel1" data-icon="bars" data-iconpos="left">
      MENU
    </a>
    <div style=" text-align:center" data-controltype="image">
      <img style="width: 320px; height: 50px" src="/image/mlogo.png">
    </div>
    <div data-controltype="textblock">
      <p>
        Welcome to Missing Hippo
      </p>
      <p>
        The only place online with all of the tools available to find your lost dog.
      </p>
      <p class="text-align-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- mh_mobile -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:50px"
             data-ad-client="ca-pub-7424434269432645"
             data-ad-slot="3909452724"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </p>
      <p>
        Currently, the flier creation tool and in-network map, are only available
        to desktop users. Apologies for any inconvenience.
      </p>
    </div>
    <div data-controltype="textblock" class="brought_to_you_by">
      <p style="text-align: center;">
        <b>
          Brought to you by
          <a data-mce-href="http://codekindness.com" href="http://codekindness.com"
             title="CodeKindess" target="_blank" style="" data-mce-style="">
            CodeKindness
          </a>
        </b>
      </p>
    </div>
  </div>
</div>
<div data-role="page" data-control-title="RESOURCES" id="page5">
  <div data-role="panel" id="panel7" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page5" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page6" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page7" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-role="panel" id="panel6" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page1" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page2" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page3" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-theme="a" data-role="header">
    <h3>
      RESOURCES
    </h3>
  </div>
  <div data-role="content">
    <a data-role="button" href="#panel7" data-icon="bars" data-iconpos="left">
      MENU
    </a>
    <h3>
      Find Your Lost Dog
    </h3>
    <div data-controltype="textblock">
      <ol class="ol1">
        <li class="li1">
          Call your local animal shelters
        </li>
        <li class="li1">
          Create a flier
        </li>
        <li class="li1">
          Pin flier copies up at nearest parks, pet stores, pet service centers,
          and stop sign posts.
        </li>
      </ol>
    </div>
    <p class="text-align-center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mh_mobile -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:50px"
           data-ad-client="ca-pub-7424434269432645"
           data-ad-slot="3909452724"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </p>
    <a data-role="button" data-theme="a" href="#page6">
      RECEIVE UPDATES
    </a>
    <h3>
      Lost Dog &amp; Cat Resources
    </h3>
    <div data-controltype="textblock">
      <p class="p1">
        Sign up to be notified via direct contact if a pet goes missing in your
        neighborhood. We can email or text message you all of the available information
        as it comes into our network.
      </p>
    </div>
    <a data-role="button" data-theme="a" href="#page6">
      RECEIVE UPDATES
    </a>
    <h3>
      Help Reconnect Families
    </h3>
    <div data-controltype="textblock">
      <p class="p1">
        Every year millions of families become disconnected from their animal
        companions. By joining the Missing Hippo Network, we can all make an impact
        on rescuing lost dogs.
      </p>
    </div>
    <a data-role="button" data-theme="a" href="#page6">
      RECEIVE UPDATES
    </a>
    <div data-controltype="textblock" class="brought_to_you_by">
      <p style="text-align: center;">
        <b>
          Brought to you by&nbsp;
          <a href="http://codekindness.com" title="CodeKindess" target="_blank"
             data-mce-href="http://codekindness.com">
            CodeKindness
          </a>
        </b>
      </p>
    </div>
  </div>
</div>
<div data-role="page" data-control-title="JOIN NETWORK" id="page6">
  <div data-role="panel" id="panel10" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page5" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page6" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page7" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-role="panel" id="panel8" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page1" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page2" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page3" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-role="panel" id="panel9" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page1" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page2" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page3" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-theme="a" data-role="header">
    <h3>
      JOIN NETWORK
    </h3>
  </div>
  <div data-role="content">
    <a data-role="button" href="#panel10" data-icon="bars" data-iconpos="left">
      MENU
    </a>
    <div data-controltype="textblock">
      <p>
        Join our support network and receive updates of missing pets in your area.
      </p>
    </div>
    <p class="text-align-center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mh_mobile -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:50px"
           data-ad-client="ca-pub-7424434269432645"
           data-ad-slot="3909452724"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </p>
    <form action="" method="POST">
      <div data-role="fieldcontain" data-controltype="textinput">
        <label for="textinput1">
          FIRST NAME
        </label>
        <input name="first_name" id="textinput1" placeholder="" value="" type="text">
      </div>
      <div data-role="fieldcontain" data-controltype="textinput">
        <label for="textinput2">
          LAST NAME
        </label>
        <input name="last_name" id="textinput2" placeholder="" value="" type="text">
      </div>
      <div data-role="fieldcontain" data-controltype="textinput">
        <label for="textinput3">
          EMAIL
        </label>
        <input name="email" id="textinput3" placeholder="" value="" type="text">
      </div>
      <div data-role="fieldcontain" data-controltype="textinput">
        <label for="textinput4">
          ZIP CODE
        </label>
        <input name="zip_code" id="textinput4" placeholder="" value="" type="text">
      </div>
      <input type="submit" data-theme="b" data-icon="check" data-iconpos="left"
             value="RECEIVE UPDATES">
    </form>
    <div data-controltype="textblock" class="brought_to_you_by">
      <p style="text-align: center;">
        <b>
          Brought to you by&nbsp;
          <a href="http://codekindness.com" title="CodeKindess" target="_blank"
             data-mce-href="http://codekindness.com">
            CodeKindness
          </a>
        </b>
      </p>
    </div>
  </div>
</div>
<div data-role="page" data-control-title="CONTACT US" id="page7">
  <div data-role="panel" id="panel14" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page5" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page6" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page7" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-role="panel" id="panel11" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page1" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page2" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page3" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-role="panel" id="panel12" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page1" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page2" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page3" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-role="panel" id="panel13" data-position="left" data-display="reveal"
       data-theme="a">
    <ul data-role="listview" data-divider-theme="h" data-inset="false">
      <li data-role="list-divider" role="heading">
        MENU
      </li>
      <li data-theme="a">
        <a href="#page1" data-transition="slide">
          HOME
        </a>
      </li>
      <li data-theme="a">
        <a href="#page2" data-transition="slide">
          RESOURCES
        </a>
      </li>
      <li data-theme="a">
        <a href="#page3" data-transition="slide">
          JOIN NETWORK
        </a>
      </li>
      <li data-theme="a">
        <a href="#page4" data-transition="slide">
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
  <div data-theme="a" data-role="header">
    <h3>
      CONTACT US
    </h3>
  </div>
  <div data-role="content">
    <a data-role="button" href="#panel14" data-icon="bars" data-iconpos="left">
      MENU
    </a>
    <div data-controltype="textblock">
      <p>
        Send us any of your concerns or questions. We'll get back to you as soon
        as possible. Thanks
      </p>
    </div>
    <p class="text-align-center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mh_mobile -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:50px"
           data-ad-client="ca-pub-7424434269432645"
           data-ad-slot="3909452724"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </p>
    <div data-controltype="textblock">
      <p>
        <b>
          Join us on the social web:
        </b>
      </p>
    </div>
    <a data-role="button" target="_blank" data-theme="a" href="http://facebook.com/missinghippo">
      FACEBOOK
    </a>
    <a data-role="button" target="_blank" data-theme="a" href="http://twitter.com/missinghippo">
      TWITTER
    </a>
    <a data-role="button" target="_blank" data-theme="a" href="https://plus.google.com/103813959466084466895/posts">
      GOOGLE+
    </a>
    <form action="" method="POST">
      <div data-role="fieldcontain" data-controltype="textinput">
        <label for="textinput5">
          FULL_NAME
        </label>
        <input name="name" id="textinput5" placeholder="" value="" type="text">
      </div>
      <div data-role="fieldcontain" data-controltype="textinput">
        <label for="textinput6">
          EMAIL
        </label>
        <input name="email" id="textinput6" placeholder="" value="" type="text">
      </div>
      <div data-role="fieldcontain" data-controltype="textarea">
        <label for="textarea2">
          MESSAGE
        </label>
        <textarea name="message" id="textarea2" placeholder=""></textarea>
      </div>
      <input type="submit" data-theme="b" data-icon="forward" data-iconpos="left"
             value="SEND MESSAGE">
    </form>
    <div data-controltype="textblock" class="brought_to_you_by">
      <p style="text-align: center;">
        <b>
          Brought to you by&nbsp;
          <a href="http://codekindness.com" title="CodeKindess" target="_blank"
             data-mce-href="http://codekindness.com">
            CodeKindness
          </a>
        </b>
      </p>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43007982-1', 'missinghippo.com');
  ga('send', 'pageview');

</script>

</body>
</html>
