<li id="services">
  <section class="service_box">
    <div class="serv_top top_box_right"></div>
    <div class="serv_mid">
      <div class="container">
        <h3 class="text_center">EXPERIENCE</h3>
        <div class="lines sub_title text_center">HOW TO FIND A LOST DOG?</div>
        <div class="serv_corusel">
          <div class="mycont">
            <!-- Carousel items -->
            <ul class="mycarousel">
              <li class="item">
                <h4>Fully <br />customizable</h4>
                <i class="icon-cloud"></i>
                <div class="serv_entry text_center">
                  Pick from a few templates and use whatever content you want. It's your flyer. Treat it your way.
                </div>
              </li>
              <li class="item">
                <h4>Professional<br /> Design</h4>
                <i class="icon-desktop"></i>
                <div class="serv_entry text_center">
                  You can easily customize your theme:<br />
                  set your colors, background
                  patterns, change fonts and etc.
                </div>
              </li>
              <li class="item">
                <h4>HTML5 <br />& CSS3 </h4>
                <i class="icon-tablet"></i>
                <div class="serv_entry text_center">
                  Use wherever you are. Create from any device at home or send your digital copy to a Kinkos for printing.
                </div>
              </li>
              <!--li class="item">
                <h4>Fully <br />customizable</h4>
                <i class="icon-cloud"></i>
                <div class="serv_entry text_center">
                  The core software is built by
                  hundreds of community volunteers,
                  and when you’re ready for more
                  there are thousands
                </div>
              </li>
              <li class="item">
                <h4>Professional<br /> Design</h4>
                <i class="icon-desktop"></i>
                <div class="serv_entry text_center">
                  You can easily to customize your
                  theme: set your colors, background
                  patterns, change fonts and etc.
                </div>
              </li>
              <li class="item">
                <h4>HTML5 <br />& CSS3 </h4>
                <i class="icon-tablet"></i>
                <div class="serv_entry text_center">
                  Over 60 million people have
                  chosen WordPress to power
                  the place on the webthey call
                </div>
              </li-->

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="serv_bot bot_box_right"><a href="#home" class="back2top"><i class="icon-chevron-up"></i></a></div>
  </section>
</li>