<footer>
  <div class="container">
    <section class="footer_intro">
      <h1>Connect with us</h1>
      <h2>follow us on social networks</h2>

      <ul class="social_line">
        <!--li><a href="#" title="Skype" class="fsoc">S</a></li-->
        <!--li><a href="#" title="Tumblr" class="fsoc">t</a></li-->
        <!--li><a href="#" title="Digg" class="fsoc">></a></li-->
        <!--li><a href="#" title="LinkedIn" class="fsoc">L</a></li-->
        <li><a href="http://www.facebook.com/MissingHippo" title="Facebook" class="fsoc" target="_blank">f</a></li>
        <li><a href="http://twitter.com/missinghippo" title="Twitter" class="fsoc" target="_blank">T</a></li>
        <!--li><a href="#" title="YouTube" class="fsoc">U</a></li-->
        <!--li><a href="#" title="Vimeo" class="fsoc">V</a></li-->
        <!--li><a href="#" title="RSS" class="fsoc">R</a></li-->
        <!--li><a href="#" title="Google Plus" class="fsoc">+</a></li-->
      </ul>
    </section>
    <section class="footer_widgets">
      <div class="row-fluid">
        <div class="span4 tweet">
          <h4 class="bold">RECENT TWEETS</h4>
          <div class="latest_tweet"></div>
        </div>
        <div class="span4 blog_feed">
          <h4 class="bold">RECENT POSTS</h4>
          <div class="latest_posts">
            <div class="fpost">
              <span class="date">8 march 2013</span>
              <h6><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h6>
            </div>
            <div class="fpost">
              <span class="date">8 march 2013</span>
              <h6><a href="#">There are many variations of passages</a></h6>
            </div>
            <div class="fpost">
              <span class="date">8 march 2013</span>
              <h6><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h6>
            </div>
          </div>
        </div>
        <div class="span4 flickr_feed">
          <h4 class="bold">PHOTO STREAM</h4>
          <div class="latest_photos">
            <!-- Start of Flickr Badge -->
            <style scoped>
              #flickr_badge_uber_wrapper a:hover,
              #flickr_badge_uber_wrapper a:link,
              #flickr_badge_uber_wrapper a:active,
              #flickr_badge_uber_wrapper a:visited {display: block;    float: left;    margin: 5px;}
            </style>
            <div  id="flickr_badge_uber_wrapper">
              <div id="flickr_badge_wrapper">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=v&amp;source=user&amp;user=95366013%40N05"></script>
              </div>
            </div>
            <!-- End of Flickr Badge -->


          </div>
        </div>
      </div>
    </section>
    <section class="footer_bottom">
      <div class="row-fluid">
        <div class="span4 flogo">
          <a href="/"><img src="image/flogo.png" alt="" /></a>
        </div>
        <div class="span4 copyright">
          (c) 2013 <a href="/">&ldquo;ParaSponsive&rdquo;</a> All Rights Reserved
        </div>
        <div class="span4 powered">
          Powered by <a href="http://gogetthemes.com/">GoGetThemes.com</a>
        </div>
      </div>
    </section>
  </div>
</footer>