<li id="about_us">
  <section class="about_us_intro intro">
    <div class="black_over">
      <div class="container text_center">
        <div class="intro_pad">
          <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- missinghippo.com -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-7424434269432645"
               data-ad-slot="1345193124"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </section>
  <section class="about_us_main">
    <div class="about_us_top top_box_left"></div>
    <div class="about_us_mid">
      <div class="container">
        <h3 class="text_center">GALLERY</h3>
        <div class="lines sub_title text_center">Find some missing pets</div>
        <section id="options" class="clearfix">
          <ul id="filters" class="option-set clearfix" data-option-key="filter">
            <li><a href="#filter" data-option-value="*" class="selected">show all</a></li>
            <li><a href="#filter" data-option-value=".design" class="">dogs</a></li>
            <li><a href="#filter" data-option-value=".studio" class="">cats</a></li>
            <li><a href="#filter" data-option-value=".art" class="">others</a></li>
          </ul>
        </section>
        <div id="container">
          <div class="isotope-item design studio">
            <div class="iso_inner">
              <a href="/image/lost-dog.jpg" data-fresco-group="mixed" class="fresco">
                <img src="/image/lost-dog.jpg" alt="" />
                <div class="over_box">
                  <div class="over_box_pad">
                    <div class="over_box_inner">
                      <span class="portfolio_name">Merchant</span>
                      <span class="portfolio_date">March 23, 2013</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="isotope-item design art innovation">
            <div class="iso_inner">
              <a href="/image/lost-dog2.jpg" data-fresco-group="mixed" class="fresco">
                <img src="/image/lost-dog2.jpg" alt="" />
                <div class="over_box">
                  <div class="over_box_pad">
                    <div class="over_box_inner">
                      <span class="portfolio_name">Merchant</span>
                      <span class="portfolio_date">March 23, 2013</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="isotope-item newest studio">
            <div class="iso_inner">
              <a href="/image/lost-dog3.jpg" data-fresco-group="mixed" class="fresco">
                <img src="/image/lost-dog3.jpg" alt="" />
                <div class="over_box">
                  <div class="over_box_pad">
                    <div class="over_box_inner">
                      <span class="portfolio_name">Merchant</span>
                      <span class="portfolio_date">March 23, 2013</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="isotope-item design innovation">
            <div class="iso_inner">
              <a href="/image/lost-dog4.jpg" data-fresco-group="mixed" class="fresco">
                <img src="/image/lost-dog4.jpg" alt="" />
                <div class="over_box">
                  <div class="over_box_pad">
                    <div class="over_box_inner">
                      <span class="portfolio_name">Merchant</span>
                      <span class="portfolio_date">March 23, 2013</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="isotope-item newest">
            <div class="iso_inner">
              <a href="/image/lost-dog5.jpeg" data-fresco-group="mixed" class="fresco">
                <img src="/image/lost-dog5.jpeg" alt="" />
                <div class="over_box">
                  <div class="over_box_pad">
                    <div class="over_box_inner">
                      <span class="portfolio_name">Merchant</span>
                      <span class="portfolio_date">March 23, 2013</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="isotope-item art">
            <div class="iso_inner">
              <a href="/image/lost-dog6.jpeg" data-fresco-group="mixed" class="fresco">
                <img src="/image/lost-dog6.jpeg" alt="" />
                <div class="over_box">
                  <div class="over_box_pad">
                    <div class="over_box_inner">
                      <span class="portfolio_name">Merchant</span>
                      <span class="portfolio_date">March 23, 2013</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="text_center">
          <a href="#" class="load_more">Load more</a>
        </div>
      </div>
    </div>
  <div class="about_us_bot bot_box_left"><a href="#home" class="back2top"><i class="icon-chevron-up"></i></a></div>
  </section>
</li>
