<header>
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/image/logo.png" alt="logo" /></a>
    </div>
    <div class="nav js">
      <nav>
        <ul>
          <li class="current"><a href="#home" class="menu_1">HOME</a></li>
          <li><a href="#services" class="menu_2">FEATURES</a></li>
          <li><a href="#portfolio" class="menu_3">NEW POSTER</a></li>
          <li><a href="#pricing_table" class="menu_4">PREVIEW</a></li>
          <li><a href="#about_us" class="menu_5">GALLERY</a></li>
          <!--li><a href="blog.html" class="menu_6 external">BLOG</a></li-->
          <li><a href="#contact_us" class="menu_7">CONTACT</a></li>
        </ul>
      </nav>
    </div>
    <div class="mob_nav js">
      <span class="trigger">MENU</span>
      <ul>
        <li class="current"><a href="#home" class="menu_1">HOME</a></li>
        <li><a href="#services" class="menu_2">FEATURES</a></li>
        <li><a href="#portfolio" class="menu_3">NEW POSTER</a></li>
        <li><a href="#pricing_table" class="menu_4">PREVIEW</a></li>
        <li><a href="#about_us" class="menu_5">GALLERY</a></li>
        <!--li><a href="blog.html" class="menu_6 external">BLOG</a></li-->
        <li><a href="#contact_us" class="menu_7">CONTACT</a></li>
      </ul>
    </div>
  </div>
</header>