<li id="home">
  <section class="slider">
    <div class="flexslider">
      <ul class="slides">
        <!--li>
          <img src="/image/slides/boston-grass.jpg" alt=""/>
          <div class="slide_text">
            <div class="container text_right">
              <div class="title1">EASY IN USE</div>
              <div class="title2">RESPONSIVE THEME</div>
              <a href="#portfolio" class="slide_link">See Our Portfolio</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/image/slides/boston-grass.jpg" alt=""/>
          <div class="slide_text">
            <div class="container text_right">
              <div class="title1">VERY EASY IN USE</div>
              <div class="title2">RESPONSIVE LAYOUT</div>
              <a href="http://youtu.be/_XWWzCn3nXI" class="slide_but fresco">See Video</a>
            </div>
          </div>
        </li-->
        <li>
          <img src="/image/slides/boston-grass.jpg" alt=""/>
          <div class="slide_text">
            <div class="container text_right">
              <div class="title3 pull-left"><span class="yellow">Lost Dog Flyer Generation</span> Create a custom lost dog flyer, for FREE!</div>
              <div class="slvideo pull-right">
                <!--iframe src="http://player.vimeo.com/video/65529665?badge=0" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe-->
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </section>
</li>